.art-display-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    border-radius: 10px;
    max-height: 500px;
    
}

.art-display-container img {
    max-height: 500px;
    max-width: 800px;
}

.art-display-buttons {
    flex-direction: column;
}

.art-info {
    font-size: 22px;
    font-family: ui-sans-serif;
    position: relative;
    line-height: 26px;
    background-color: rgb(209, 209, 209);
    max-height: 500px;
    max-width: 500px;
    overflow-y: scroll;
    height: 500px;
    width: 50vh;
    align-items: space-between;
    text-align: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.art-info h1 {
    padding-bottom: 16px;
    font-weight: 600;
}

.art-info h1:first-child {
    padding-top: 50px;
}

.art-info h2 {
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.art-info h3 {
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
}


.close-display {
    font-size: 28px;
    width: 45px;
    height: 45px;
}


.fav-buttons {
    top: 11%;
    right: 0.8%;
    font-size: 28px;
    width: 45px;
    height: 45px;
}

#favorited {
    color: brown;
}

#fetched-image {
    max-height: 55vh;
    width: auto;
    border: 20px solid rgb(209, 209, 209);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    pointer-events: none;
}

.favorite-button {
    height: 200px;
    width: 100px;
    padding: 5px;
}

#x-button {
    border-style: none;
    /* padding: 0px; */
    padding-left: 10px;
    font-size: -webkit-xxx-large;
    padding-right: 10px;
    border: 2px solid black;
}

.next-button {
    position: absolute;
    top: 50%;
    right: -9%;
    display: flex;
    background-color: transparent;
    border: none;
    color: #707275;
    cursor: pointer;
}

.next-button p {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 25px;
}

.next-button i {
    font-size: 35px;
}

#next-artwork-left {
    animation: click-here-left 1.5s infinite;
}

@keyframes click-here-left {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
