.image-container {
    background: #939598;
    position: relative;
    height: 93.8vh;
    filter: brightness(70%);
    overflow: hidden;
}

.image-container img {
    position: absolute;
}

.image-container img:nth-child(1) {
    animation: slide 20s linear infinite;
    left: -400px;
    top: 30%;
    transform: translateY(-60%) translateX(50%);
    height: 50%;
}

.image-container img:nth-child(2) {
    animation: slide 20s linear infinite;
    left: -400px;
    transform: translateX(-60%) translateY(-80%);
    top: 50%;
    height: 50%;
}

.image-container img:nth-child(3) {
    animation: slide 20s linear infinite;
    transform: translateY(210%) translateX(-20%);
    height: 30%;
}

.image-container img:nth-child(4) {
    animation: slide 20s linear infinite;
    transform: translateY(70%) translateX(120%);
    height: 50%;
}

.image-container img:nth-child(5) {
    animation: slide 20s linear infinite;
    transform: translateY(10%) translateX(-200%);
    height: 30%;
}

.image-container img:nth-child(6) {
    animation: slide 20s linear infinite;
    transform: translateY(120%) translateX(-150%);
    height: 30%;
}

.image-container img:nth-child(7) {
    animation: slide 20s linear infinite;
    transform: translateY(10%) translateX(120%);
    height: 30%;
}

.image-container img:nth-child(8) {
    animation: slide 20s linear infinite;
    transform: translateY(130%) translateX(-260%);
    height: 40%;
}

.image-container img:nth-child(9) {
    animation: slide 20s linear infinite;
    transform: translateY(10%) translateX(-350%);
    height: 45%;
}

.image-container img:nth-child(10) {
    animation: slide 20s linear infinite;
    transform: translateY(10%) translateX(-400%);
    height: 45%;
}

@keyframes slide {
    0% {
        left: -1000px;
    }
    100% {
        left: calc(100% + 400px);
    }
}

.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.explore p{
    color: #F7F7F7;
    opacity: 0;
    animation: blink 2s linear infinite;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.explore img {
    height: 280px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: blink 2s linear infinite;
}