.image-container {
    background: #939598;
    position: relative;
    height: 92.4vh;
    filter: brightness(70%);
    overflow: hidden;
}

.image-container img {
    position: absolute;
}

.image-container img:nth-child(1) {
    animation: slide 20s linear infinite;
    top: 30%;
    transform: translateY(-60%) translateX(140%);
    height: 50%;
}

.image-container img:nth-child(2) {
    animation: slide 20s linear infinite;
    transform: translateX(10%) translateY(85%);
    height: 55%;
}

.image-container img:nth-child(3) {
    animation: slide 20s linear infinite;
    transform: translateY(80%) translateX(50%);
    height: 40%;
}

.image-container img:nth-child(4) {
    animation: slide 20s linear infinite;
    transform: translateY(70%) translateX(250%);
    height: 50%;
    z-index: 1;
}

.image-container img:nth-child(5) {
    animation: slide 20s linear infinite;
    transform: translateY(0) translateX(-10%);
    height: 50%;
}

.image-container img:nth-child(6) {
    animation: slide 20s linear infinite;
    transform: translateY(170%) translateX(50%);
    height: 40%;
}

.image-container img:nth-child(7) {
    animation: slide 20s linear infinite;
    transform: translateY(0) translateX(120%);
    height: 40%;
}

.image-container img:nth-child(8) {
    animation: slide 20s linear infinite;
    transform: translateY(0%) translateX(-100%);
    height: 50%;
}

.image-container img:nth-child(9) {
    animation: slide 20s linear infinite;
    transform: translateY(70%) translateX(-85%);
    height: 60%;
}

.image-container img:nth-child(10) {
    animation: slide 20s linear infinite;
    transform: translateY(80%) translateX(-180%);
    height: 58%;
}

.image-container img:nth-child(11) {
    animation: slide 20s linear infinite;
    transform: translateY(0%) translateX(-190%);
    height: 58%;
}

.image-container img:nth-child(12) {
    animation: slide 20s linear infinite;
    transform: translateY(100%) translateX(-380%);
    height: 50%;
}

.image-container img:nth-child(13) {
    animation: slide 20s linear infinite;
    transform: translateY(80%) translateX(-270%);
    height: 58%;
    z-index: 2;
}

.image-container img:nth-child(14) {
    animation: slide 20s linear infinite;
    transform: translateY(50%) translateX(-130%);
    height: 50%;
}

.image-container img:nth-child(15) {
    animation: slide 20s linear infinite;
    transform: translateY(30%) translateX(-350%);
    height: 56%;
    z-index: 1;
}

.image-container img:nth-child(16) {
    animation: slide 20s linear infinite;
    transform: translateY(120%) translateX(140%);
    height: 50%;
}

.image-container img:nth-child(17) {
    animation: slide 20s linear infinite;
    transform: translateY(120%) translateX(-330%);
    height: 50%;
}

.image-container img:nth-child(18) {
    animation: slide 20s linear infinite;
    transform: translateY(120%) translateX(-330%);
    height: 50%;
}

@keyframes slide {
    0% {
        left: -1500px;
    }
    100% {
        left: calc(100% + 800px);
    }
}

.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.explore p{
    color: #F7F7F7;
    opacity: 0;
    animation: blink 2s linear infinite;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.explore img {
    height: 280px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: blink 2s linear infinite;
}