body {
    background-color: #939598;
    font-family: 'Lora', serif;
}

#navbar {
    /* position: fixed; */
    top: 0;
    display: flex;
    /* justify-content: space-between; */
    width: 100vw;
    background-color: #F7F7F7;
    border-bottom: 1px solid rgba(0,0,0,0.6);
    box-sizing: border-box;
    align-items: center;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#profile-drop {
    /* margin-right: 20px; */
    padding-right: 10px;
    position: relative;
    display: block;
}

.profile-drop-button {
    cursor: pointer;
    padding: 18px;
    margin-top: 10px;
}

#profile-pic-button {
    margin-top: 0;
}

.pic {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    overflow: hidden;
    cursor: pointer;
}

#session-buttons {
    margin-top: 0;
}

#logo-button {
    margin-left: 20px;
}

#logo-button img {
    height: 50px;
}

/* #logo-button img:last-child {
    opacity: 0;
    position: relative;
    right: -50px;
    transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out;
} */

#logo-button:hover img:last-child {
    opacity: 1;
    right: 0;
}

.dropdown-items {
    position: absolute;
    background-color: #F3DEBA;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    right: 10px;
    width: 170px;
    font-size: 100%;
    display: block;
    z-index: 1;
    /* margin-top: 16px; */
}

.dropdown-items li {
    padding-bottom: 7px;
    padding-top: 7px;
    cursor: pointer;
    /* width: 100%; */
    padding-left: 15px;
}

.dropdown-items li:last-child {
    border-top: 1px solid #A9907E;
}

.dropdown-items li:hover {
    background-color: #A9907E;
    text-decoration: underline;
}

#test {
    position: absolute;
    left: 49.2%;
}

.about-us, .profile-drop-button {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
}

.about-us button:first-child, .profile-drop-button button:first-child{
    margin-right: 20px;
    border: none;
}

.about {
    border: 2px solid #939598;
    padding: 13px 18px;
    border-radius: 50px;
    background-color: #F7F7F7;
    font-weight: 550;
    cursor: pointer;
    color: #5d6164;
}

.about:hover {
    color: #939598;
}

.profile-drop-button img {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    /* object-fit:cover; */
}