.our-map {
    position: relative;
    height: 86vh;
    /* max-height: 90vh; */
    /* min-height: 93vh; */
    /* overflow: auto; */
    /* width: 100%; */
    background-color: skyblue;
}

.filter-info {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 200000;
    display: flex;
    gap: 5px;
    top: 20px;
    font-size: 25px;
}

.next-button {
    position: fixed;
    left: 35.5%;
    top: 80.5%;
    z-index: 1000;
    width: 50px;
}

.MuiSlider-markLabel.makeStyles-markLabel-5 {
    font-size: 1.3vw;
}