.favorites-ul {
  display: flex;
  flex-wrap: wrap;
}

.favorite-thumbnail {
  max-width: 10vw;
}

.favorite-image {
  max-width: 95%;
  max-height: 70vh;
}

.favorite-view-modal {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  width: 511px;
  margin: -250px 0 0 -281px;
  opacity: 1;
  transition: opacity .3s linear, top .3s ease-out;
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  background-clip: padding-box;
  padding: 20px 25px;
  min-height: 103px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}